boto >=2.6.0
munch >=2.0.0
# 0.14 switches to libev, that means bootstrap needs to change too
gevent >=1.0
isodate >=0.4.4
pytz ==2024.1
httplib2
lxml
tox
pytest-nose-attrib ==0.1.1
pytest-lazy-fixture==0.6.3
